
<div class="jumbotron">
  <div class="container">
    <div>
      <h3>Laboratorio: </h3>
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{getSelectedLabName(this.selectLab)}}</button>
            <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
              <div *ngFor="let inicio of this.laboratorios" style="text-align: center">
                <input class="dropdown-item" type="button"  (click)="setLab($event)" value="{{inicio.nombre}}">
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>

    <div *ngIf="this.abrirCalendario">

      <div>
        <h2>Semana</h2>
        <div class="row">
          <div class="col-4">
            <h4>Desde:</h4>

            <p>{{this.semanaInicio.getDate()}}-{{this.nombreMeses[this.semanaInicio.getMonth()]}}-{{this.semanaInicio.getFullYear()}}</p>
          </div>
          <div class="col-4">
            <h4>Hasta:</h4>

            <p>{{this.semanaFin.getDate()}}-{{this.nombreMeses[this.semanaFin.getMonth()]}}-{{this.semanaFin.getFullYear()}}</p>

          </div>
          <div class="col-4">
            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group" role="group" aria-label="First group">
                <button type="button" class="btn btn-secondary" (click)="this.irSemanaAtras()" >Atras</button>
                <button type="button" class="btn btn-secondary" (click)="this.irSemanaAdelante()" >Adelante</button>

              </div>

            </div>

          </div>
        </div>




      </div>


    </div>

  </div>



</div>

<div *ngIf="this.abrirCalendario">
  <app-calendar-table [selectLab]="this.selectLab"  [semanaInicio]="this.semanaInicio" [semanaFin]="this.semanaFin"></app-calendar-table>
</div>
