
<div class="container">


  <table cellpadding="35px">
    <thead>
    <tr>
      <th></th>
      <th>
        <span class="day">1</span>
        <span class="long">Lunes</span>
        <span class="short">Mon</span>
      </th>
      <th>
        <span class="day">2</span>
        <span class="long">Martes</span>
        <span class="short">Tue</span>
      </th>
      <th>
        <span class="day">3</span>
        <span class="long">Miercoles</span>
        <span class="short">We</span>
      </th>
      <th>
        <span class="day">4</span>
        <span class="long">Jueves</span>
        <span class="short">Thur</span>
      </th>
      <th>
        <span class="day active">5</span>
        <span class="long">Viernes</span>
        <span class="short">Fri</span>
      </th>
      <th>
        <span class="day">6</span>
        <span class="long">Sabado</span>
        <span class="short">Sat</span>
      </th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="hour" rowspan="2"><span>7 - 9</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

      <td></td>
    </tr>

    <tr>
      <td class="hour" rowspan="2"><span>9 - 11</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>

      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>


    <tr>
      <td class="hour" rowspan="2"><span>11 - 13</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="hour" rowspan="2"><span>13 - 15</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

      <td></td>
    </tr>
    <tr>
      <td></td>

      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="hour" rowspan="2"><span>15 - 17</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="hour" rowspan="2"><span>17 -19</span></td>
      <td></td>
      <td></td>
      <td></td>

      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="hour" rowspan="2"><span>19 - 21</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      
      <td></td>
    </tr>



    </tbody>
  </table>
</div>

