
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

  <a class="navbar-brand" routerLink="/main-page">
    <img src="/assets/calendar-512.png" width="30" height="30" class="d-inline-block align-top" alt="">

    <strong><i>LabCalendar</i></strong>
  </a>

  <div>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/week-view-calendar">Vista Semanal<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/lab-view">Info<span class="sr-only">(current)</span></a>
      </li>


    </ul>
  </div>
</nav>

<router-outlet></router-outlet>



<footer style="background-color: #e4837e">
  <br><br>
  <div class="container">
    <h1>Proyecto Semestral</h1>
    <div class="jumbotron">
      <h3>Respaldar datos 2017-A:</h3>

      <p>Esto no se mantendra en la version final</p>

      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
          <button type="button" class="btn btn-secondary" (click)="this.backProfes()">Profesores</button>
          <button type="button" class="btn btn-secondary" (click)="this.backMaterias()">Materias</button>
          <button type="button" class="btn btn-secondary" (click)="this.backModelos()">Modelos PC</button>
          <button type="button" class="btn btn-secondary" (click)="this.backLabos()">Laboratorios</button>
          <button type="button" class="btn btn-secondary" (click)="this.backMateriaProfesor()">Materia-Profesor</button>
        </div>

      </div>

    </div>
  </div>

  <br><br><br><br><br>



</footer>
