
<div  [contextMenu]="basicMenu" style=" min-height: 35px;
  text-align: center;">

</div>

<context-menu class="container" style="text-align: center">
  <ng-template contextMenuItem >
    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Agendar</button>
  </ng-template>

</context-menu>

<ng-template #content let-c="close" let-d="dismiss" style="width: 500px">
  <div class="modal-header">
    <h4 class="modal-title" style="text-align: center">Agendar</h4>
  </div>
  <div class="modal-body" style="text-align: center">
    <h6>Laboratorio:</h6>
    <p>{{this.selectLab}}</p>
    <h6><strong>Dia:</strong></h6>
    <p>{{this.getdia(this.dia)}}</p>

    <h6><strong>Hora Inicio:</strong></h6>
    <p>{{this.hora}}</p>

    <div>
      <h6><strong>Hora Fin:</strong></h6>

      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{this.horaFin}}</button>
            <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
              <div *ngFor="let inicio of this.gethorasRestantes(this.hora)" style="text-align: center">
                <input class="dropdown-item" type="button" (click)="buttonHora($event)" value="{{inicio}}">
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

    <br>

    <div>
      <h6>Materia:</h6>
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{this.nuevaAgenda}}</button>
            <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
              <div *ngFor="let inicio of this.materiaprofesor" style="text-align: center">
                <input class="dropdown-item" type="button" (click)="buttonAgendaMateria($event)" value="{{inicio.materia.nombre}} por {{inicio.profesor.nombres}}">
              </div>

            </div>
          </div>
        </div>
      </div>


    </div>



  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Guardar</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>



