
<div  [contextMenu]="basicMenu" style=" min-height: 40px;
  text-align: center;">
   <div >
{{this.materiaAsignada}}
    {{this.refresh()}}
   </div>
</div>

<context-menu class="container" style="text-align: center">
  <ng-template contextMenuItem >
    <button  *ngIf="!this.agenda" class="btn btn-lg btn-outline-primary" (click)='open(content)'>Agendar </button>
    <div *ngIf="this.agenda" style="text-align: center">
      <button class="btn btn-lg btn-outline-warning" (click)="this.eliminarAgenda()">Eliminar</button>
      <br>
      <button class="btn btn-lg btn-outline-warning" (click)="open(infoMateria)">Detalles</button>
    </div>
  </ng-template>

</context-menu>

<ng-template #content let-c="close" let-d="dismiss" style="width: 500px" >
  <div class="modal-header">
    <h4 class="modal-title" style="text-align: center">Agendar</h4>
  </div>
  <div class="modal-body" style="text-align: center">
    <h6>Laboratorio:</h6>
    <p>{{this.getSelectedLabName(this.selectLab)}}</p>

    <div class="row jumbotron">

      <div class="col-6">
        <h6><strong>Fecha Inicio</strong></h6>
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="dp" [(ngModel)]="modelInicio" ngbDatepicker #d1="ngbDatepicker">
              <div class="input-group-addon" (click)="d1.toggle();" >
                <img src="/assets/calendar-512.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
              </div>
            </div>
          </div>
        </form>

        <hr/>

      </div>

      <div class="col-6">
        <h6><strong>Fecha Fin</strong></h6>
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="dp" [(ngModel)]="modelFin" ngbDatepicker #d2="ngbDatepicker">
              <div class="input-group-addon" (click)="d2.toggle();" >
                <img src="/assets/calendar-512.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
              </div>
            </div>
          </div>
        </form>

        <hr/>

      </div>

    </div>




    <h6><strong>Dia:</strong></h6>
    <p>{{this.getdia(this.dia)}}</p>

    <h6><strong>Hora Inicio:</strong></h6>
    <p>{{this.horaInicio}}</p>

    <div>
      <h6><strong>Hora Fin:</strong></h6>

      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{this.horaFin}}</button>
            <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
              <div *ngFor="let inicio of this.gethorasRestantes(this.horaInicio)" style="text-align: center">
                <input class="dropdown-item" type="button" (click)="setHoraFin($event)" value="{{inicio}}">
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

    <br>

    <div>
      <h6>Materia:</h6>
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{this.displayMateriaProfesor}}</button>
            <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
              <div *ngFor="let inicio of this.materiaprofesor" style="text-align: center">
                <input class="dropdown-item" type="button" (click)="setAgendaMateriaProfesor(inicio)" value="{{inicio.idMateria.nombre}} por {{inicio.idProfesor.nombres}}">
              </div>

            </div>
          </div>
        </div>
      </div>





    </div>

    <br>
    <br>
    <div class="row">
      <div class="col-12">
        <h6>Observaciones</h6>
        <input class="form-control"  type="text" [(ngModel)]="this.nuevaAgenda.observacion" placeholder="Ingresa alguna observacion">
      </div>
    </div>




  </div>
  <div class="modal-footer">

    <div *ngIf="this.validarAgenda()">
      <button  type="button" class="btn btn-outline-primary" (click)="c('Close click');guardarNuevaAgenda()">Guardar</button>

    </div>

    <button type="button" class="btn btn-outline-warning" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<ng-template #infoMateria let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Detalles de la Agenda</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{this.agenda | json}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>




