<div class="container-fluid">

  <div class="container">


    <div class="jumbotron">

      <h4>Selecciona la categoria que desea visualizar</h4>
      <br><br>
      <div class="btn-group " role="group" aria-label="Basic example" style="text-align: center">

        <button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off"
                (click)="this.showProfesores=!this.showProfesores;this.showMaterias=false;this.showMateriaProfesor=false">
          Profesores
        </button>
        <button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off"
                (click)="this.showProfesores=false;this.showMaterias=!this.showMaterias;this.showMateriaProfesor=false">
          Materias
        </button>

        <button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off"
                (click)="this.showProfesores=false;this.showMaterias=false;this.showMateriaProfesor=!this.showMateriaProfesor">
          Materia - Profesor
        </button>


      </div>
    </div>





    <div *ngIf="this.showProfesores">
      <div style="padding: 15px">
        <h1 >Profesores</h1>
        <br>
        <button  type="button" (click)="this.inputNuevoProfesor=true" class="btn btn-primary">Nuevo Profesor</button>
      </div>

      <div *ngIf="this.inputNuevoProfesor">
        <div  class="jumbotron" style="background-color: white">
          <div>
            <div class="form-group row">
              <label for="nombre" class="col-2 col-form-label">Nombres</label>
              <div class="col-10">
                <input class="form-control" type="text" placeholder="Nombres del Profesor" [(ngModel)]="this.nuevoProfesor.nombres" id="nombre">
              </div>
            </div>
            <div class="form-group row">
              <label for="apellidos" class="col-2 col-form-label">Apellidos</label>
              <div class="col-10">
                <input class="form-control" type="text" placeholder="Apellidos del Profesor" [(ngModel)]="this.nuevoProfesor.apellidos" id="apellidos">
              </div>
            </div>

            <div class="form-group row">
              <label for="titulo" class="col-2 col-form-label">Ultimo Titulo</label>
              <div ngbDropdown class="d-inline-block " id="titulo">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{this.nuevoProfesor.ultimoTitulo}}</button>
                <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
                  <div  style="text-align: center">
                    <input class="dropdown-item" type="button"  (click)="this.nuevoProfesor.ultimoTitulo='Ing'" value="Ing">
                    <input class="dropdown-item" type="button"  (click)="this.nuevoProfesor.ultimoTitulo='Msc'" value="Msc">
                    <input class="dropdown-item" type="button"  (click)="this.nuevoProfesor.ultimoTitulo='Phd'" value="Phd">
                  </div>

                </div>
              </div>
            </div>




            <div class="form-group row">
              <label for="telefono1" class="col-2 col-form-label">Teléfono 1</label>
              <div class="col-10">
                <input class="form-control" type="number" placeholder="Teléfono Principal" [(ngModel)]="this.nuevoProfesor.telefono1" id="telefono1">
              </div>
            </div>
            <div class="form-group row">
              <label for="telefono2" class="col-2 col-form-label">Teléfono 2</label>
              <div class="col-10">
                <input class="form-control" type="number" placeholder="Teléfono Secundario" [(ngModel)]="this.nuevoProfesor.telefono2" id="telefono2">
              </div>
            </div>
            <div class="form-group row">
              <label for="correo" class="col-2 col-form-label">e-mail</label>
              <div class="col-10">
                <input class="form-control" type="email" placeholder="e-mail" [(ngModel)]="this.nuevoProfesor.correo" id="correo">
              </div>
            </div>

          </div>

          <div *ngIf="!validarProfesor()"  class="alert alert-warning animated" role="alert">
            <strong>Alerta!</strong> Se debe llenar por lo menos los siguientes campos:
            <ul>
              <li>Nombres</li>
              <li>Apellidos</li>
              <li>Ultimo Titulo</li>
            </ul>

          </div>


          <div style="text-align: right">
            <button type="button" class="btn btn-primary" (click)="this.guardarNuevoProfesor()">Guardar</button>
            <button type="button" class="btn btn-warning" (click)="this.borrarNuevoProfesor()">Cerrar</button>
          </div>

          <pre>{{this.nuevoProfesor | json}}</pre>

        </div>
      </div>



      <div *ngFor="let prof of this.profesores">

        <div class="jumbotron">

          <div class="row">
            <div class="col-9">
              <p><strong>Apellidos: </strong>{{prof.apellidos}}</p>
              <p><strong>Nombres: </strong>{{prof.nombres}}</p>
              <p><strong>Titulo: </strong> {{prof.ultimoTitulo}}</p>
            </div>
            <div class="col-3">
              <br><br>
              <button type="button" class="btn btn-warning">
              Editar
              </button>
              <button type="button" class="btn btn-danger">
                Eliminar
              </button>
            </div>
          </div>


        </div>

      </div>


    </div>
    <div *ngIf="this.showMaterias">
      <h1>Materias</h1>



      <div *ngFor="let mat of this.materias">

        <div class="jumbotron">

          <div class="row">
            <div class="col-9">
              <p><strong>Codigo: </strong>{{mat.codigo}}</p>
              <p><strong>Nombre: </strong>{{mat.nombre}}</p>
            </div>
            <div class="col-3">
              <br>
              <button type="button" class="btn btn-warning">
                Editar
              </button>
              <button type="button" class="btn btn-danger">
                Eliminar
              </button>
            </div>
          </div>



        </div>

      </div>


    </div>
    <div *ngIf="this.showMateriaProfesor">
      <h1>Materias Profesor</h1>

      <div *ngFor="let matprof of this.materiaProfesor">

        <div class="jumbotron">

          <div class="row">
            <div class="col-9">
              <h3>Materia</h3>
              <p><strong>Codigo: </strong>{{matprof.idMateria.codigo}}</p>
              <p><strong>Nombre: </strong>{{matprof.idMateria.nombre}}</p>
              <hr>
              <h3>Profesor</h3>
              <p><strong>Apellidos: </strong>{{matprof.idProfesor.apellidos}}</p>
              <p><strong>Nombres: </strong>{{matprof.idProfesor.nombres}}</p>
              <p><strong>Titulo: </strong> {{matprof.idProfesor.ultimoTitulo}}</p>
              <hr>

              <h3>Grupo</h3>
              <p><strong>Grupo: </strong>{{matprof.grupo}}</p>
            </div>
            <div class="col-3">
              <br><br><br><br>
              <br><br><br><br>
              <button type="button" class="btn btn-warning">
                Editar
              </button>
              <button type="button" class="btn btn-danger">
                Eliminar
              </button>
            </div>
          </div>





        </div>

      </div>
    </div>


  </div>

</div>



